<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>RMSRedSection</string>
		<key>bindVariable</key>
		<string>accountSection</string>
		<key>properties</key>
		<dict>
			<key>headerTitle</key>
			<string>Account Information</string>
		</dict>
		<key>rows</key>
		<array>
			<dict>
				<key>className</key>
				<string>RMSTextEntryCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:self</string>
					<key>keyPath</key>
					<string>profile.firstName</string>
					<key>labelText</key>
					<string>First name</string>
				</dict>
			</dict>
			<dict>
				<key>className</key>
				<string>RMSTextEntryCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>lastName</string>
					<key>labelText</key>
					<string>Last name</string>
				</dict>
			</dict>
			<dict>
				<key>enabled</key>
				<string>:emailEnabled</string>
				<key>className</key>
				<string>RMSTextEntryCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>email</string>
					<key>labelText</key>
					<string>Email</string>
				</dict>
			</dict>
			<dict>
				<key>enabled</key>
				<string>:passwordsEnabled</string>
				<key>className</key>
				<string>RMSTextEntryCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:self</string>
					<key>keyPath</key>
					<string>passwordOne</string>
					<key>labelText</key>
					<string>Password</string>
					<key>secureTextEntry</key>
					<string>1</string>
				</dict>
			</dict>
			<dict>
				<key>enabled</key>
				<string>:passwordsEnabled</string>
				<key>className</key>
				<string>RMSTextEntryCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:self</string>
					<key>keyPath</key>
					<string>passwordTwo</string>
					<key>labelText</key>
					<string>Confirm</string>
					<key>secureTextEntry</key>
					<string>1</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>properties</key>
		<dict>
			<key>headerTitle</key>
			<string>General Information</string>
		</dict>
		<key>rows</key>
		<array>
			<dict>
				<key>className</key>
				<string>RMSArrayPickerCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>gender</string>
					<key>labelText</key>
					<string>Gender</string>
					<key>choices</key>
					<string>:genders</string>
				</dict>
			</dict>
			<dict>
				<key>className</key>
				<string>RMSDatePickerCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>birthday</string>
					<key>labelText</key>
					<string>Birthday</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>properties</key>
		<dict>
			<key>headerTitle</key>
			<string>Vital Stats</string>
		</dict>
		<key>rows</key>
		<array>
			<dict>
				<key>className</key>
				<string>RMSHeightPickerCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>height</string>
					<key>labelText</key>
					<string>Height</string>
				</dict>
			</dict>
			<dict>
				<key>className</key>
				<string>RMSBattingAveragePickerCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>battingAverage</string>
					<key>labelText</key>
					<string>Batting Average</string>
				</dict>
			</dict>
			<dict>
				<key>className</key>
				<string>RMSArrayPickerCell</string>
				<key>properties</key>
				<dict>
					<key>representedObject</key>
					<string>:profile</string>
					<key>keyPath</key>
					<string>stance</string>
					<key>labelText</key>
					<string>Stance</string>
					<key>choices</key>
					<array>
						<string>right</string>
						<string>left</string>
					</array>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>bindVariable</key>
		<string>saveSection</string>
		<key>rows</key>
		<array>
			<dict>
				<key>className</key>
				<string>RMSButtonCell</string>
				<key>bindVariable</key>
				<string>saveButton</string>
				<key>properties</key>
				<dict>
					<key>target</key>
					<string>:self</string>
					<key>selectorString</key>
					<string>saveAction:</string>
					<key>labelText</key>
					<string>:saveLabel</string>
					<key>primaryLabel.textColor</key>
					<string>:whiteColor</string>
					<key>backgroundColor</key>
					<string>:blackColor</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>enabled</key>
		<string>:deleteEnabled</string>
		<key>rows</key>
		<array>
			<dict>
				<key>className</key>
				<string>RMSButtonCell</string>
				<key>properties</key>
				<dict>
					<key>target</key>
					<string>:self</string>
					<key>selectorString</key>
					<string>deleteAction:</string>
					<key>labelText</key>
					<string>Delete</string>
					<key>label.textColor</key>
					<string>:whiteColor</string>
					<key>backgroundColor</key>
					<string>:redColor</string>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>rows</key>
		<array>
			<dict>
				<key>className</key>
				<string>RMSNavigationCell</string>
				<key>properties</key>
				<dict>
					<key>target</key>
					<string>:self</string>
					<key>selectorString</key>
					<string>pushWordViewController</string>
					<key>labelText</key>
					<string>Words</string>
				</dict>
			</dict>
		</array>
	</dict>
</array>
</plist>
